{% extends 'layouts/base-user.html' %}

{% block title %}Registro{% endblock %}

{% block customCSS %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
{% endblock %}

{% block body %} 
<main>
    <form class="form-signup"  action="{{ url_for('add_user')}}" method="POST">
        <img class="mb-4" src="{{ url_for('static',filename='img/nuevo-usuario.png') }}" alt="icon_user" width="72" height="72">
        <h1 class="h3 mb-3 fw-normal">Agregar Nuevo</h1>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            
                {% if messages %}
                <br>
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dissmissible" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
    
            {% endwith %}
    
        <div class="form-floating">
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="first_name" >
            <label for="first_name">Nombre</label>
        </div>
    
        <div class="form-floating">
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="last_name" >
            <label for="last_name">Apellido</label>
        </div>

        <div class="row mb-3">
            <small class="help-text mt-3">Sin puntos(Formato esperado: 00000000 - 0)</small>
            <div class="col-md-8 form-floating align-items-center">
                <input type="int" class="form-control" id="run" name="run" placeholder="run"  pattern="\d{7,8}">
                <label for="run" class="form-label">Rut</label>
            </div>
            <div class="col-md-2 form-floating align-items-center">
                <input type="text" class="form-control" id="dvrun" name="dvrun" placeholder="dvrun"  pattern=".{1,1}">
                <label for="dvrun" class="form-label">Dv</label>
            </div>
        </div>
        
        <div class="form-floating">
            <select class="form-select" id="id_rol" name="id_rol" aria-label="Default select example" required>
                <option selected disabled>Rol</option>
                {% for rol in roles %}
                <option value="{{ rol.role_id }}" id="id_rol" name="id_rol">{{ rol.name }}</option>
                {% endfor %}
              </select>
        </div>
        <button class="w-100 btn-submit btn-lg btn-primary" id="btn-submit" type="submit">Agregar</button>
    </form>
</main>
{% endblock %}