{% extends 'layouts/base-user.html' %}

{% block title %}Registro{% endblock %}

{% block customCSS %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
{% endblock %}

{% block body %} 
<main>
    <form class="form-signup"  action="/crear-registro" method="POST">
        <img class="mb-4" src="{{ url_for('static',filename='img/nuevo-usuario.png') }}" alt="icon_user" width="72" height="72">
        <h1 class="h3 mb-3 fw-normal">Agregar Nuevo</h1>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            
                {% if messages %}
                <br>
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dissmissible" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
    
            {% endwith %}
    
        <div class="form-floating">
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="first_name" >
            <label for="first_name">Nombre</label>
        </div>
    
        <div class="form-floating">
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="last_name" >
            <label for="last_name">Apellido</label>
        </div>

        <div class="form-floating align-items-center">
            <small class="help-text">Sin puntos Ni guión (Formato esperado: 123456789)</small>
            <input type="text" class="form-control" id="run" name="run" placeholder="run"  pattern="\d{8,9}">
            <label for="run" class="my-3">Rut</label>
        </div>
        
        <div class="form-floating">
            <select class="form-select" id="id_rol" name="id_rol" aria-label="Default select example" required>
                <option selected disabled>Rol</option>
                <option value="1" id="id_rol" name="id_rol">Admin</option>
                <option value="2" id="id_rol" name="id_rol">Editor</option>
                <option value="3" id="id_rol" name="id_rol">Visor</option>
              </select>
        </div>
        <button class="w-100 btn-submit btn-lg btn-primary" type="submit">Agregar</button>
    </form>
</main>
{% endblock %}