{% extends 'layouts/base-user.html' %}

{% block title %}Modificaciones{% endblock %}

{% block customCSS %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/proveedor.css') }}">
{% endblock %}

{% block body %}
<main>
    <header>            
        <h2 class="pb-3 pt-2">PROVEEDORES</h2>
        
        <div class="search">
            <form action="/buscar-modificacion" method="POST" class="d-flex mb-2 search" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar modificación" aria-label="Search" name="search_query">
            </form>
        </div>
                    
        <div class="dropdown-product ">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownProduct2" data-bs-toggle="dropdown" aria-expanded="false"> 
                <strong>Ordenar por:</strong>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownProduct2">
                <li><a class="dropdown-item" href="{{ url_for('show_supplier', sort_by='id') }}">ID</a></li>
                <li><a class="dropdown-item" href="{{ url_for('show_supplier', sort_by='nro_serie') }}">N° serie</a></li>
                <li><a class="dropdown-item" href="{{ url_for('show_supplier', sort_by='producto') }}">Producto</a></li>
                <li><a class="dropdown-item" href="{{ url_for('show_supplier', sort_by='first_name') }}">Responsable</a></li>
                <li><a class="dropdown-item" href="{{ url_for('show_supplier', sort_by='fecha') }}">Fecha y Hora</a></li>
            </ul>
        </div>
    </header>

    {% if g.user and g.user['role_id'] == 1 %}
        <div class="btn-agregar-p">
            <button type="button" class="btn btn-success" id="btn-agregar" data-bs-toggle="modal" data-bs-target="#addProvModal">
                Añadir Proveedor
            </button>
        </div>
        {% endif %}

        <div class="table-responsive mt-4">
        {% if proveedores %}
        {% if g.user and g.user['role_id'] == 1  %}
                {% with messages = get_flashed_messages() %}    
                {% if messages %}
                <br>
                    {% for message in messages %}
                        <div class="alert alert-warning alert-dissmissible" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            {% endif %}   
        <table class="table" id="proveedor-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Empresa</th>
                    <th>Producto</th>
                </tr>
            </thead>
            <tbody>
                {% for p in proveedores %}
                <tr>
                    <td>{{ mod.id }}</td>
                    <td>{{ mod.nro_serie }}</td>
                    <td>{{ mod.producto_nombre }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No hay Proveedores registrados.</p>
        {% endif %}
    </div>
    <!--MODAL AGREGAR PROVEEDOR-->
    <div class="modal fade" id="addProvModal" tabindex="-1"aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Añadir Proveedor</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/agregar_proveedor" method="POST">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="addNombre" class="form-label">Nombre empresa:</label>
                                <input type="text" class="form-control" id="addNombre" name="addNombre" required>
                            </div>
                            <div class="col-md-6">
                                <label for="addDescripcion" class="form-label">Descripcion:</label>
                                <input type="text" class="form-control" id="addDescripcion" name="addDescripcion" required>
                            </div>
                        </div>          
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
</main>
{% endblock %}