.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 16%;
}

.sidebar-header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    margin-left: 1rem;
    max-width: 16%;
}

.sidebar-header p {
    margin-top: 12px;

}

.sidebar-header i {
    font-size: 2rem;
    margin-right: 10px;
}


.contenido {
    padding: 20px;
    margin-left: 16%;
}

.user-info {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    margin-left: 1rem;

}

.user-info p {
    margin: 0;
}

.user-info a {
    color: black;
    text-decoration: none;
    margin-left: 5px;
}

.nav-item {
    border-bottom: 1px solid #ccc;
}

.nav-link {
    color: black;
    display: flex;
    align-items: center;
}

.nav-link i {
    margin-right: 5px;
}

.hidden {
    display: none;
}

#usuarios {
    margin-top: 2rem;
}



.users-table {
    margin-top: 20px;
}

.col-md-6 label {
    display: block;
}

#inputRun,
#inputDv {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
}

#inputRun {
    width: calc(100% - 100px);
}

#inputDv {
    width: 50px;
}
