html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: #eeeeee;
}
.contenedor{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
aside {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 20%;
    padding: 12px;
    background-color: #f8f9fa;
    box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.3);
    overflow: hidden; /* Evita que la barra lateral tenga scroll */
    flex-shrink: 0; /* Impide que la barra lateral se encoja */
}
.encabezado{
    font-weight: 700;
    font-style: italic;
    font-size: medium;
}
.nav-link{
    color: black;
    font-size: 2ch;
    font-weight: 400;
}
.nav-link:hover{
    color: black;
    font-weight: 600;
}
.nav-link.active{
    color: white;
}
.dropdown {
    position: absolute;
    bottom: 0;
    width: 248px;
    padding-bottom: 1rem;
}
.d-flex{
    display: flex;
    width: 248px;
}
.flex-shrink-0 {
    flex-shrink: 0 !important;
}
main{
    margin-left: 20%;
    width: 80%;
    padding: 1rem 2rem;
    overflow-y: auto;
}