
header{
  position: relative;
  

}
.search{
  display: flex;
}
#product-form {
    display: none;
    transition: all 0.3s ease-in-out;
  }
  
  #product-form.show {
    display: block;
  }
.btn-agregar-p{
  display: flex;
  justify-content: right;
  margin-bottom: 8px;
}
  #btn-agregar{
    padding: 10px;
    margin-right: 1rem;
  }
  
  .dropdown-product{
    display: flex;
    justify-content: left;
  }
  .cont {
    display: flex;
    align-items: center;
  }
  
  .logout {
    font-size: 20px;
    margin-left: 75%;
  }