body {
    margin-top: 5rem;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.logo i {
    font-size: 2rem;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.form-control {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.69);
    width: 500px;
}

.btn-submit {
    margin-top: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}