body {
    margin-top: 5rem;
    background-color: #EEEEEe;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.logo img {
    width: 100px;
    height: 100px;
}

.encabezado {
    font-size: 30px;
}


.container {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.form-control {
    background-color: #f8f9fa;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.69);
    width: 500px;
}

.btn-submit {
    margin-top: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

#togglePassword {
    background-color: #cbcbcb;
    border: 0px;
    color: black;
}