<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo.ico') }}">


    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    {% block customCSS %}
    {% endblock %}
</head>

<body>
    <div class="contenedor">
        <aside>
            <div class=" flex-column flex-shrink-0 ">
                <img src="{{ url_for('static', filename='img/logo-sin-fondo.png') }}" alt="icon" width="32" height="32">
                <span class="encabezado">Maestranzas Unidos S.A.</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    {% if g.user and g.user['role_id'] == 3 %}
                    <li>
                        <a href="/home" class="nav-link {{ 'active' if request.path == '/home' else '' }}">
                            Inicio
                        </a>
                    </li>
                    <li>
                        <a href="/inventario" class="nav-link {{ 'active' if request.path == '/inventario' else '' }}">
                            Productos
                        </a>
                    </li>
                    {% elif g.user and g.user['role_id'] == 2 %}
                    <li>
                        <a href="/inventario" class="nav-link {{ 'active' if request.path == '/inventario' else '' }}">
                            Productos
                        </a>
                    </li>
                    <li>
                        <a href="/supplier" class="nav-link {{ 'active' if request.path == '/supplier' else '' }}">
                            Proveedores
                        </a>
                    </li>
                    {% elif g.user and g.user['role_id'] == 1 %}
                    <li>
                        <a href="/inventario" class="nav-link {{ 'active' if request.path == '/inventario' else '' }}"">
                        Productos
                    </a>
                </li>
                <li>
                    <a href=" /modifications"
                            class="nav-link {{ 'active' if request.path == '/modifications' else '' }}"">
                    Modificaciones
                    </a>
                </li>
                <li>
                    <a href=" /supplier" class="nav-link {{ 'active' if request.path == '/supplier' else '' }}">
                            Proveedores
                        </a>
                    </li>
                    <li>
                        <a href="/users" class="nav-link {{ 'active' if request.path == '/users' else '' }}">
                            Usuarios
                        </a>
                    </li>
                    <li>
                        <a href="/registro" class="nav-link {{ 'active' if request.path == '/registro' else '' }}">
                            Agregar Usuario
                        </a>
                    </li>
                    {% endif %}
                </ul>

                <div class="dropdown">
                    <hr>
                    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                        id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ url_for('static',filename='img/usuario.png') }}" alt="" width="32" height="32"
                            class="rounded-circle me-2">
                        <strong>{{ first_name }}</strong>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                        <li><a class="dropdown-item" href="#">Ajustes</a></li>
                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Cerra Sesión</a></li>
                    </ul>
                </div>
            </div>
        </aside>

        {% block body %}

        {% endblock %}
        {% block javascript %}
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>